* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.calc {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 40%;
  height: 50vh;
  border: 1px solid black;
}

.calc-screen {
  height: 20%;
  border: 5px solid black;
  font-size: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.calc-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80%;
}

.calc-panel button {
  min-width: 25%;
  font-size: 2rem;
}

.zero {
  flex-grow: 1;
}
