* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.calc {
  position: relative;
  width: 300px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.calc-screen {
  background-color: rgb(20, 20, 20);
  min-height: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
}

.prevOperand {
  font-size: 1.5rem;
  color: #ddd;
}

.currentOperand {
  font-size: 2rem;
}

.calc-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.calc-panel button {
  width: calc(25% - 3px);
  padding: 10px 0;
  background-color: white;
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.calc-panel button:hover {
  background-color: #ddd;
}
